h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

p#browser-alert, p#rule-alert {
	font-weight: bold;
	background-color: rgba(255, 0, 0, .1);
	color: red;
	padding: 1em;
	border: .2em solid red;
	border-radius: 1em;
}


@media all and (min-width: 50em) {
	div[data-role=page] div.ui-content {
		width: 50em;
		margin: auto;
	}
}