h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
	text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
	text-indent: 0.5em;
}
.custom-size-flipswitch.ui-flipswitch {
	width: 9.5em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
	padding-left: 7em;
	width: 1.875em;
}

@media (min-width: 28em) {
	/*Repeated from rule .ui-flipswitch above*/
	.ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
		width: 1.875em;
	}
}


@media all and (min-width: 50em) {
	div[data-role=page] div.ui-content {
		width: 50em;
		margin: auto;
	}
}